<h2 style="text-align: center;">Description</h2>

<p>Improve the application's interactivity. Ask the user for action and do it.<br>
<br>
Support these actions:</p>

<ul>
	<li>add a card: <code>add</code>,</li>
	<li>remove a card: <code>remove</code>,</li>
	<li>load cards from file ("deserialization"): <code>import</code>,</li>
	<li>save cards to file ("serialization"): <code>export</code>,</li>
	<li>ask for a definition of some random cards: <code>ask</code>,</li>
	<li>exit the program: <code>exit</code>.</li>
</ul>

<p>You can use the following file format. The file consists of pairs of lines. The first line of each pair is a card, and the second line is a definition of the card.</p>

<p>In this stage, if you try to add an existing card or a card with an existing definition you should just reject it, by printing an error message. (See example 1.)</p>

<p>When you load cards from file, you shouldn't erase the old ones. If the imported card already exists, it should update the old one. (Look at cards Japan and Moscow in the example 2.) It is guaranteed, that there won't be any conflicts with definitions. </p>


<h2 style="text-align: center;">Examples</h2>
<p> The symbol <code>&gt</code> represents the user input. Notice that it's not the part of the input.</p>
Example 1:

<pre><code class="language-no-highlight">Input the action (add, remove, import, export, ask, exit):
> add
The card:
> France
The definition of the card:
> Paris
The pair ("France":"Paris") has been added.
	
Input the action (add, remove, import, export, ask, exit):
> add
The card:
> France
The card "France" already exists.

Input the action (add, remove, import, export, ask, exit):
> add
The card:
> Great Britain
The definition of the card:
> Paris
The definition "Paris" already exists.

Input the action (add, remove, import, export, ask, exit):
> remove
The card:
> France
The card has been removed.

Input the action (add, remove, import, export, ask, exit):
> remove
The card:
> Wakanda
Can't remove "Wakanda": there is no such card.

Input the action (add, remove, import, export, ask, exit):
exit
Bye bye!</code></pre>

Example 2:

<pre><code class="language-no-highlight">Input the action (add, remove, import, export, ask, exit):
> import
File name:
> ghost_file.txt
File not found.

Input the action (add, remove, import, export, ask, exit):
> add
The card:
> Japan
The definition of the card:
> Tokyo
The pair ("Japan":"Tokyo") has been added.

Input the action (add, remove, import, export, ask, exit):
> add
The card:
> Russia
The definition of the card:
> UpdateMeFromFile
The pair ("Russia":"UpdateMeFromFile") has been added.

Input the action (add, remove, import, export, ask, exit):
> import
File name:
> capitals.txt
28 cards have been loaded.

Input the action (add, remove, import, export, ask, exit):
> ask
How many times to ask?
> 1
Print the definition of "Russia":
> Moscow
Correct answer.

Input the action (add, remove, import, export, ask, exit):
export
File name:
capitalsNew.txt
29 cards have been saved.

Input the action (add, remove, import, export, ask, exit):
exit
Bye bye!</code></pre>
<p><i>Note, that all your outputs and user inputs should be on separate lines.</i></p>