<h2 style="text-align: center;">Description</h2>

<p>Implement a program that outputs a card and its definition. You can print a card and a definition you like.</p>

<h2 style="text-align: center;">How to submit?</h2>

<p>This stage is auto-graded. The grader will check that:</p>

<ul>
    <li>you output 4 lines,</li>
    <li>the first line is <code>Card:</code>,</li>
    <li>the third line is <code>Definition:</code>.</li>
</ul>

<h2 style="text-align: center;">Output examples</h2>

<pre><code class="language-no-highlight">Card:
purchase
Definition:
buy</code></pre>

<p> </p>

<pre><code class="language-no-highlight">Card:
cos'(x)
Definition:
-sin(x)</code></pre>