<h2 style="text-align: center;">Description</h2>

<p>Implement a working application now! Add support for addition of multiple cards. Then ask the user to answer all the definitions.</p>

<p>You can follow the algorithm. First, ask the user to enter the desired number of cards. Then create two string arrays (<code>String[]</code>): <code>cards</code> and <code>definitions</code>. Process all entered cards and save the i-th card to <code>cards[i]</code> and <code>definitions[i]</code>. Finally iterate over saved cards and ask the user to answer.</p>

<p>When you ask the card definition, you should write the card label in quotes. (Example: <code>Print the definition of "black":</code>). If the answer is correct, you should print <code>Correct answer.</code>. And if the answer is wrong, you should print <code>Wrong answer. (The correct one is "black").</code>, where <code>"black"</code> is an example of the correct definition.</p>

<h2 style="text-align: center;">Console example</h2>

<p> The symbol <code>&gt</code> represents the user input. Notice that it's not the part of the input.</p>
<pre><code class="language-no-highlight">Input the number of cards:
> 2
The card #1:
> black
The definition of the card #1:
> white
The card #2:
> white
The definition of the card #2:
> black
Print the definition of "black":
> white
Correct answer.
Print the definition of "white":
> blue
Wrong answer. (The correct one is "black".)
</code></pre>

<p><i>Note, that all your outputs and user inputs should be on separate lines.</i></p>