<h2 style="text-align: center;">Description</h2>

<p>There is a common situation that the answer is wrong for the given card but it's correct for another card. Let's consider situations like this.</p>

<p>Remove array-based storage. Use two maps (<code>Map&lt;String, String&gt;</code>): <code>cardToDefinition</code> and <code>definitionToCard</code>. Ask all cards in the order of addition. (<code>LinkedHashMap</code> class helps you to save the order.) If the definition is wrong but it is presented in <code>definitionToCard</code>, output the original card.</p>

<p>When the user tries to add a duplicated card or a definition, forbid it and ask again, until the user inputs a correct card. For now you are able to implement this without a <code>try catch</code> construction. Use the rule: if you can avoid exception-based logic, avoid it!</p>

<h2 style="text-align: center;">Examples</h2>
<p> The symbol <code>&gt</code> represents the user input. Notice that it's not the part of the input.</p>
Example 1:
<pre><code class="language-no-highlight">Input the number of cards:
> 2
The card #1:
> black
The definition of the card #1:
> white
The card #2:
> black
The card "black" already exists. Try again:
> red
The definition of the card #2:
> white
The definition "white" already exists. Try again:
> green
Print the definition of "black":
> white
Correct answer.
Print the definition of "red":
> green
Correct answer.
</code></pre>
Example 2:
<pre><code class="language-no-highlight">Input the number of cards:
> 2
The card #1:
> a brother of one's parent
The definition of the card #1:
> uncle
The card #2:
> a part of the body where the foot and the leg meet
The definition of the card #2:
> ankle
Print the definition of "a brother of one's parent":
> ankle
Wrong answer. (The correct one is "uncle", you've just written the definition of "a part of the body where the foot and the leg meet".)
Print the definition of "a part of the body where the foot and the leg meet":
> ???
Wrong answer. (The correct one is "ankle".)
</code></pre>

<p><i>Note, that all your outputs and user inputs should be on separate lines.</i></p>