<h2 style="text-align: center;">Description</h2>

<p>Add some statistics features. We suggest you implement the following:</p>

<ul>
  <li>Action <code>log</code> saves the application log to the given file. For example, the program uses <code>ArrayList</code> to store all lines that have been input or output in the console and then saves them to the file.</li>
  <li>Action <code>hardest card</code> prints the card that has the most mistakes. You can store the mistake count in <code>Map&lt;String, Integer&gt;</code>. If there are no cards with mistakes, you should print <code>There are no cards with errors.</code>. And for multiple hardest cards, you should list them all, like in the example below.</li>
  <li>Action <code>reset stats</code> erases the mistake counts for all cards.</li>
</ul>

<p>Also you should update serialization/deserialization to store sets of three lines (card, definition, mistakes) instead of pairs (card, definition).</p>

<h2 style="text-align: center;">Example</h2>
<p> The symbol <code>&gt</code> represents the user input. Notice that it's not the part of the input.</p>

<pre><code class="language-no-highlight">Input the action (add, remove, import, export, ask, exit, log, hardest card, reset stats):
> hardest card
There are no cards with errors.

Input the action (add, remove, import, export, ask, exit, log, hardest card, reset stats):
> import
File name:
> capitals.txt
28 cards have been loaded.

Input the action (add, remove, import, export, ask, exit, log, hardest card, reset stats):
> hardest card
The hardest card is "France". You have 10 errors answering it.

Input the action (add, remove, import, export, ask, exit, log, hardest card, reset stats):
> ask
How many times to ask?
> 1
Print the definition of "Russia":
> Paris
Wrong answer. (The correct one is "Moscow", you've just written the definition of "France" card.)

Input the action (add, remove, import, export, ask, exit, log, hardest card, reset stats):
> hardest card
The hardest cards are "Russia", "France". You have 10 errors answering them.

Input the action (add, remove, import, export, ask, exit, log, hardest card, reset stats):
> reset stats
Card statistics has been reset.

Input the action (add, remove, import, export, ask, exit, log, hardest card, reset stats):
> hardest card
There are no cards with errors.

Input the action (add, remove, import, export, ask, exit, log, hardest card, reset stats):
> log
File name:
> todayLog.txt
The log has been saved.

Input the action (add, remove, import, export, ask, exit, log, hardest card, reset stats):
> exit
Bye bye!</code></pre>
<p><i>Note, that all your outputs and user inputs should be on separate lines.</i></p>