<h2 style="text-align: center;">Description</h2>

<p>Implement a custom card creation mechanism.</p>

<h2 style="text-align: center;">How to submit?</h2>

<p>This stage is auto-graded. The grader will input 3 lines (card, definition, answer) and check that your output contains a word:</p>

<ul>
    <li><code>wrong</code> if the answer isn't equal to the definition,</li>
    <li><code>right</code> if the answer is equal to the definition.</li>
</ul>

<h2 style="text-align: center;">Input example</h2>

<pre><code class="language-no-highlight">a purring animal
cat
cat
</code></pre>

<h2 style="text-align: center;">Output example</h2>

<pre><code class="language-no-highlight">Your answer is right!
</code></pre>

<h2 style="text-align: center;">Input example</h2>

<pre><code class="language-no-highlight">a barking animal
dog
cat
</code></pre>

<h2 style="text-align: center;">Output example</h2>

<pre><code class="language-no-highlight">Your answer is wrong...</code></pre>